@import "tailwindcss";

@theme {
  --font-sans: "Pretendard";

  /* Red Scale*/
  --color-red-400: #F41E14;
  --color-red-300: #FA8F8A;
  --color-red-200: #FCBCB9;
  --color-red-100: #FEE9E8;
  /* Gray Scale*/
  --color-gray-500: #5E5E5E;
  --color-gray-400: #A6A6A6;
  --color-gray-300: #D6D6D6;
  --color-gray-200: #E9E9E9;
  --color-gray-100: #E9E9E9;
  --color-gray-0:   #F9F9F9;
  /* B/W */
  --color-black: #292929;
  --color-white: #FDFDFD;
}

@utility iPhone-frame {
  width: 375px;
  height: 812px;
  background: white;
  border-radius: 2rem;
  border: 1px solid rgba(0,0,0,0.8);
  margin: 0 auto;
  padding: 20px;
}

:root {
  background-color: gray;
}

/* Head */
@utility h1-bd { @apply text-[24pt] leading-[120%] tracking-[0.02em] font-bold; }
@utility h2-bd { @apply text-[20pt] leading-[120%] tracking-[0.02em] font-bold; }
@utility h3-md { @apply text-[18pt] leading-[120%] tracking-[0.02em] font-medium; }
/* Body / Caption */
@utility body1-md { @apply text-[16pt] leading-[120%] tracking-[0.02em] font-medium; }
@utility body1-bd { @apply text-[16pt] leading-[120%] tracking-[0.02em] font-bold; }
@utility body1-sb { @apply text-[16pt] leading-[120%] tracking-[0.02em] font-semibold; }
@utility body2-md { @apply text-[14pt] leading-[120%] tracking-[0.02em] font-medium; }
@utility body2-sb { @apply text-[14pt] leading-[120%] tracking-[0.02em] font-semibold; }
@utility cap1-md  { @apply text-[12pt] leading-[120%] tracking-[0.02em] font-medium; }
@utility cap1-sb  { @apply text-[12pt] leading-[120%] tracking-[0.02em] font-semibold; }
@utility cap2-md  { @apply text-[10pt] leading-[120%] tracking-[0em]   font-medium; }
@utility cap2-sb  { @apply text-[10pt] leading-[120%] tracking-[0em]   font-semibold; }