@import 'tailwindcss';
@import './styles/colors.css';
@import './styles/typography.css';

@layer base {
  *,
  *::before,
  *::after {
    box-sizing: border-box;
  }
  html,
  body,
  #root {
    height: 100%;
  }
  body {
    @apply m-0 font-sans;
    background: var(--gray-100);
    color: var(--black);
  }
}
