@import url('https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard.css');
@import 'tailwindcss';

html,
body,
#root {
  height: 100%;
  background-color: black;
}

@theme {
  --color-*: initial;
  --color-white: #fff;
  --color-purple: #3f3cbb;
  --color-midnight: #121063;
  --color-tahiti: #3ab7bf;
  --color-bermuda: #78dcca;
  --color-light-gray: #d9d9d9;
  --color-gray-50: #f3f3f3;
  --color-gray-400: #9e9e9e;
  --color-green-600: #22c05d;
  --color-green-50: #e9fbf0;
  --font-pretendard: 'Pretendard', pretendard;
  --color-light-yellow: #fcfef9b2;
}
